* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr.custom-hr {
    border-color:rgb(28,78,90);
    opacity: 1;
}

.status {
    font-weight: bold;
    color: yellow;
}

.error-hr {
    border-color: white;
}

.catch-error {
    text-align: start;
    padding: 20px;
    width: 280px;
    background-color:rgb(61, 61, 61);
    font-style: italic;
    border-radius: 4px;
    font-size: 14px;
}

.canvasContainer {
    height: 300px;
    width: 100%;
}